<footer>

  <form action="/menu">
   <button>PLACE ORDER</button> </form>
  <form action="/">
   <button>HOMPAGE</button> </form>
  <form action="/#menu">
   <button>SEE MENU</button> </form>

</footer>
