<footer>

  <form action="/movies">
   <button>ORDER TICKETS</button> </form>
  <form action="/">
   <button>HOMPAGE</button> </form>
  <form action="/movies">
   <button>SEE MOVIE LISTINGS</button> </form>

</footer>
