<header>
  <img class="header-img" src="/images/movielogoheader.png" alt="" />

  <div class = "header-div">
    <form class="header-form" action="/">
      <button class="header-btn">HOMEPAGE</button>
    </form>
    <form class="header-form" action="/movies">
      <button class="header-btn">MOVIE TICKETS</button>
    </form>
    <form class="header-form" action="/#about">
      <button class="header-btn">ABOUT US</button>
    </form>
  </div>
</header>
