<header>
  <h1 class="header-title">RETRO-MOIVES</h1>
  <div class="header-form">
    <form action="/">
     <button class="header-btn">HOMEPAGE</button> </form>
    <form action="/movies">
   <button class="header-btn">ORDER TICKETS</button> </form>
   <form action="/movies">
    <button class="header-btn">SEE OUR MOVIE LISTS</button> </form>
   <form action="/#about">
    <button class="header-btn">ABOUT US</button> </form>
  </div>



</header>
