<header>
  <h1 class="header-title">LOREM</h1>
  <div class="header-form">
    <form action="/">
     <button class="header-btn">HOMEPAGE</button> </form>
    <form action="/menu">
   <button class="header-btn">PLACE ORDER</button> </form>
   <form action="/#menu">
    <button class="header-btn">SEE MENU</button> </form>
   <form action="/#about">
    <button class="header-btn">ABOUT US</button> </form>
  </div>



</header>
