<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shopping Bag</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Nunito:ital,wght@0,500;0,600;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/checkout.css" />
    <link rel="stylesheet" href="/styles/layout.css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <!-- <h1>Order Page</h1> -->

            <%- include('partials/_header') %>


    <div class="   checkout-container">
      <article class="card card-upper">
       <p class="card-header">Thank you for choosing us today!</p>
        <div class="card-body card-body-outer">
          <article class="card card-lower">
            <div class="card-body row">
              <div class="col"> <strong>Pick up:</strong> <br> Order @500 Bay St. | <i class="fa fa-phone"></i> +16477473956 </div>
            </div>
          </article>
          <hr>
            <ul class="row">
              <section id="items_selected">
              </section>
              </ul>
            <hr>
            <article class="card">
              <div class="card-body column">
                <div  class="col">
                  <p>Subtotal:</p>
                  <p id="subtotalprice"></p>
                  <p><strong>Total:</strong></p>
                  <p id="totalprice"></p>
                </div>
              </div>
            </article>
            <hr>
            <div class="error">
            </div>
          <form id="form">
            <div class="form-group mb-2">
              <label for="pickUpName">Name: </label>
              <input type="text" class="user-name" id="pickUpName" name="customerName" class="form-control" id="formGroupExampleInput" placeholder="name" style="width: 250px; margin: 1em">
              <label for="phone">Phone: </label>
              <input class="user-info" type="tel" name="customerPhone" id="phone" class="form-control" id="formGroupExampleInput2" placeholder="( _ _ _ ) _ _ _ - _ _ _ _" style="width: 250px; margin: 1em">
            </div>
          </form>
          <input type="hidden" name="orderDetails" class="form-order-details" value='{}'></input>
          <hr>
          
          <a href="/movies"class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to Movies</a>
        
          <a href="/confirmation" class="btn btn-warning" id="place-order" data-abc="true"> <i class="fa fa-chevron-right"></i> Place Order</a>
        </div>

      </article>

    </div>
    <script type="text/javascript" src="/scripts/checkOutScript.js" defer></script>
  </body>
</html>
