<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Nunito:ital,wght@0,500;0,600;1,500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
<<<<<<< HEAD

    <main>
      <div class="sidebar">
        <h3>Fresh Ingredients</h3>
        <h3>Homestyle</h3>
        <h3>Family Owned</h3>
      </div>
      <section class="main">
        <h1 class="title">LOREM</h1>

        <div class="main-buttons">
          <form action="/menu"><button>ORDER NOW</button></form>

          <form action="#menu"><button>SEE OPTIONS</button></form>
        </div>
      </section>
    </main>

=======
  <%- include('partials/_header') %>
    <main>
      <div class="sidebar">
        <h3>CLASSICS</h3>
        <h3>RETRO</h3>
        <h3>DIVERSE GENRES</h3>
      </div>
      <section class="main">
        <h1 class="mainpage-title">LOREM</h1>


      </section>
    </main>


>>>>>>> backend
    <section class="menu-page" id="menu">
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Burger</h4>
            <img class="menu-item-image" src="/images/burger.png" alt="" />
          </div>

          <p class="menu-item-description">
<<<<<<< HEAD
            MOVIE OPTION 1
=======
            MOVIE OPTION 1
>>>>>>> backend
            MOVIE OPTION 1
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">MOVIE OPTION 2</h4>
            <img
              class="menu-item-image"
              id="pepperoni-img"
              src="/images/peparoni_pizza.png"
              alt=""
            />
          </div>
          <p class="menu-item-description">
            Pepporoni Pizza, made with fresh tomato sauce, mozzorella cheese,
            Pepperoni. 8-10 slices.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Poutine</h4>
            <img class="menu-item-image" src="/images/poutine.png" alt="" />
          </div>
          <p class="menu-item-description">
            Canadian style poutine. Fresh cut french fries topped with cheese
            cruds and gravy.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Perogies</h4>
            <img class="menu-item-image" src="/images/perogies.png" alt="" />
          </div>

          <p class="menu-item-description">
            The Classic Perogie. Made with cheddar cheese, fresh cut potatoes.
            Pan fried to perfection.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Greek Salad</h4>
            <img class="menu-item-image" src="/images/greek_salad.png" alt="" />
          </div>
          <p class="menu-item-description">
<<<<<<< HEAD
            Served with tomatoes, sliced cucumbers, onions, feta cheese, fresh
            bell peppers and olives. Topped off with olive oil and goat cheese.
=======
            Lettuce, tomatoes, cucumbers, onions, fresh
            bell peppers. Topped with olive oil and goat cheese.
>>>>>>> backend
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">House Salad</h4>
            <img class="menu-item-image" src="/images/salad.png" alt="" />
          </div>
          <p class="menu-item-description">
<<<<<<< HEAD
            Our signature house salad. Made with fresh romaine and green leaf
=======
            Made with fresh romaine and green leaf
>>>>>>> backend
            lettuce, onions, croutons and our signature dressing.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Lemon Cake</h4>
            <img class="menu-item-image" src="/images/lemon_cake.png" alt="" />
          </div>

          <p class="menu-item-description">
            Our in house Lemon cake. Soft, double layered, with lemon filling
            and buttercream top.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Cheesecake</h4>
            <img class="menu-item-image" src="/images/cheesecake.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our in house raspberry Cheesecake. Served with raspberry and raspberry sauce.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Fruits</h4>
            <img class="menu-item-image" src="/images/fruit.png" alt="" />
          </div>
          <p class="menu-item-description">
            Our fruit salad. Fresh strawberries, blueberries, pineapple, grapes,
            and melons.
          </p>
        </div>
      </div>
      <div class="menu">
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Bagel</h4>
            <img class="menu-item-image" src="/images/bagel.png" alt="" />
          </div>

          <p class="menu-item-description">
            In house bagel, with everything on it. Served with cream cheese.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Black Coffee</h4>
            <img
              class="menu-item-image"
              src="/images/black_coffee.png"
              alt=""
            />
          </div>
          <p class="menu-item-description">
            Black coffee, made from freshly grounded aribica coffe beans.
          </p>
        </div>
        <div class="menu-item">
          <div class="menu-item-sub">
            <h4 class="menu-item-title">Green Tea</h4>
            <img class="menu-item-image" src="/images/tea.png" alt="" />
          </div>
          <p class="menu-item-description">
            Black green tea. Made from fresh and dried green leaves.
          </p>
        </div>
      </div>
          <div class="main-buttons-lower">
          <form action="/menu"><button class="main-buttons-lower-btn">ORDER NOW</button></form>
        </div>
    </section>
    <!-- ORDER PAGE -->


    <footer class="promo" id="about">
      <div class="about">
        <img class="about-img" src="/images/logo.png" alt="" />
        <div class="about-snippet">
          <p>We are Lorem a family RETRO MOVIE COMPANY.</p>
          <h2>Contact Us: 416-555-5555</h2>
<<<<<<< HEAD
=======
          <div>
    <form action="/"> <p></p>
        <button class="header-bt  n"> RETURN TO: HOMEPAGE</button> </form>
        <form action="/menu">
          </div>

>>>>>>> backend
        </div>
      </div>
    </footer>
  </body>
</html>
