@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
//   font-family: 'Coda Caption', sans-serif;
:root{
  // background colors
--background-theme-color: rgb(6, 4, 10);
--background-theme-color-2:rgb(29, 28, 31);
--background-theme-secondary-color: rgb(78, 78, 80,0.5);
--background-theme-tertiary-color: whitesmoke;

// font colors
--font-color-primary: rgb(6, 4, 10);
--font-color-secondary: rgb(208, 205, 194);
--font-color-tertiary:rgb(78, 78, 80,10);

// font-sizes
--font-size-header:90px;
--font-size-headline:60px;
--font-size-paragraph: 30px;
--font-size-button:20px;

}

body{
  box-sizing: border-box;
  
  color: white;
}
.card-body-outer{
  color: white;
}
.form-group{
  display: flex;
  flex-direction: column  ;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 100%;
}

header > form {
  flex-direction: row;
}



.container {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  background-color: var(--background-theme-color);
  width:100%;

}

/* header element */

.checkout-container{
  width:55%;
}
.card-header {
  text-align: center;
  justify-content: center;
  align-items: center;

}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;

}

.col-md-4{
  border-bottom: 3px solid var(--background-theme-color);
  width:60%;
}

li {
  list-style: none
}


.card-upper{
  background-color: var(--background-theme-color);
  margin-top:25%;
}
.card-upper > p {

  background-color: var(--background-theme-color);
  font-size: var(--font-size-paragraph);
  color: var(--font-color-secondary);
}

.card-body-outer {
  border:5px solid whitesmoke;
  padding:2%;
  border-radius: 5px;;
  width: 100%;
  background-color: var(--background-theme-color-2);
  font-size: var(--font-size-button);
}

.btn-warning {
  background-color: var(--background-theme-color);
  color: whitesmoke;
  font-size: var(--font-size-button);
  padding:1%;
  margin-left:15%;
  margin-top:15%;
  border: 1px solid var(--background-theme-tertiary-color );
  border-radius:2px;
  margin-top:10%;
}

.img-sm{
  width: 300px;
  border:5px solid var(--background-theme-color)
}


// .card-upper{
//   border: 5px solid whitesmoke;
//   margin-top:-45px;
// }
